@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');


:root{
	--white:  #EDF3ED ;
	--pink: #8B21FB;
	--orange: #ff7800;
	--black:  #130f40;
	--light-color: #666;
	--box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
	--border:2rem solid rgba(0,0,0,.1);
	--outline:1rem solid rgba(0,0,0,.1);
	--outline-hover:.2rem solid var(--black);
}

*{
	font-family: 'Nunito', sans-serif;
	margin: 0; padding: 0;
	box-sizing: border-box;
	outline: none; border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: all .2s liner;
}

html{
	font-size:62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 7rem;
}

body{
	background: #eee;
}

section{
	padding: 5rem 9% ;
}

 .conocenos{
 	display: flex;
 	align-items: center;
 	flex-wrap: wrap;
 	gap:2rem;
 	flex-direction: row;
 }

 .conocenos .image{
 	flex:1 1 41rem;
 }

 .conocenos .image img{
 	width:90%;
 }

 .conocenos .content{
 	flex:1 1 41rem;
 }

 .conocenos .content .title{
 	font-size: 5rem;
 	color: var(--black);
 }

  .conocenos .content p{
 	font-size: 2rem;
 	color: var(--light-color);
 	padding:1rem 0;
 	line-height: 2;
 	text-transform: lowercase;
 }

.btn {
	margin-top: 1rem;
	display: inline-block;
	padding: .8rem 3rem;
	font-size: 1.7rem;
	border-radius: .5rem;
	border: .2rem solid var(--black);
	color: var(--black);
	cursor: pointer;
	background: none;
}

.btn:hover{
	background: var(--pink);

}

.header{
	position: fixed;
	top:0; left:0; right:0;
	z-index: 1000;
	display: flex;
	align-items:center;
	justify-content: space-between;
	padding:2rem 9%;
	background: #fff;
	box-shadow: var(--box-shadow);
}

.header .logo{
	font-size: 2.5rem;
	font-weight: bolder;
	color: var(--black);
}

.header .logo i{
	color: var(--pink);

}

.header .navbar a{
	font-size: 1.7rem;
	margin: 0 1rem;
	color: var(--black);
}

.header .navbar a:hover{
	color:var(--pink);
}

.header .icons div{
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.5rem;
	border-radius: .5rem;
	background: #eee;
	color: var(--black);
	font-size: 2rem;
	margin-left: .3rem;
	cursor: pointer;
	text-align: center;
}

.header .icons div:hover{
	background:var(--pink);
	color:#fff;
}

#menu-btn{
	display: none;
}


.header .search-form{
	position: absolute;
	top: 110%; right: -110%;
	width: 50rem;
	height:5rem;
	background: #fff;
	border-radius: .5rem;
	overflow: hidden;
	display: flex;
	align-items: center;
	box-shadow: var(--box-shadow);
}

.header .search-form.active{
	right:2rem;
 	transition: .4s linear;
}

.header .search-form input{
	height: 100%;
	width: 100%;
	background: none;
	text-transform: none;
	font-size: 1.6rem;
	color: var(--black);
	padding:0 1.5rem;

}

.header .search-form label{
	font-size: 2.2rem;
	padding-right: 1.5rem;
	color: var(--black);
	cursor: pointer;
}

.header .search-form label:hover{
	color: var(--pink);
}

.header .login-form{
	position: absolute;
	top: 110%; right:-110%;
	width: 30rem;
	box-shadow: var(--box-shadow);
	padding: 2rem;
	border-radius: .5rem ;
	background: #fff;
	text-align: center;
}

.header .login-form h3{
	font-size: 2.5rem;
	text-transform: uppercase;
	color: var(--black);
}

.header .login-form .box{
	width: 100%;
	margin:.7rem 0 ;
	background: #eee;
	border-radius: .5rem;
	padding: 1rem;
	font-size: 1.6rem;
	color: var(--black);
	text-transform: none;
}

.header .login-form p{
	font-size: 1.4rem;
	padding: .5rem 0 ;
	color: var(--light-color);
}

.header .login-form p a{
	color:var(--pink);
	text-decoration: underline;
}

.header .login-form.active{
	right:2rem ;
	transition: .4s linear;
}


.home{
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("https://cdnb.artstation.com/p/assets/images/images/025/803/141/large/a-.jpg?1586968336") no-repeat;
	background-position:center ;
	background-size: cover;
	padding-top:22rem ;
	padding-bottom: 20rem ;
}

.home .content{
	text-align: center;
	width: 60rem;
}

.home .content h3{
	color: var(--white);
	font-size: 3rem;
}

.home .content h3 span{
	color: var(--white);
}

.home .content p{
	color: var(--white);
	font-size: 2.2rem;
	padding:1rem 0;
	line-height: 1.8;
}

.products h1{
	font-size: 4rem;
 	color: var(--black);
}

.products .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap:1.5rem;
}

.products .box-container .box{
	padding:5rem;
	text-align: center;
}

.products .box-container .box img{
	height:30rem;
}

.products .box-container .box h3{
	font-size:2rem;
	padding:1rem 0;
}

.products .box-container .box .price{
	font-size:2rem;
	padding:.5rem 0;
}

.products .box-container .box:hover {
	background: #7C00FF;
} 

.products .box-container .box:hover > *{
	background: #7C00FF;
} 



.contact .row{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.contact .row .content{
	flex: 1 1 30rem;
	padding:4rem;
	padding-bottom: 0;
}

.contact  h1{
	font-size: 4rem;
 	color: var(--black);
}

.contact .row form{
	flex:1 1 45rem;
	padding:2rem;
	margin:2rem ;
	margin-bottom:4rem;
}

.contact .row form .box{
	padding:1rem ;
	margin:1rem 0;
	color: #fff;
	text-transform: none;
	font-size: 1.7rem;
	width: 100%;
}

.contact .row form .box::placeholder{
	text-transform: capitalize;
}

.contact .row form .message{
	height:15rem;
	resize: none;
}

.contact .row .content .title{
	text-transform: uppercase;
	font-size: 3rem;
	padding-bottom: 2rem;
}

.contact .row .content .info h3{
	text-transform: uppercase;
	display: flex;
	align-items: center;
	font-size: 2rem;
	padding: 1rem 0 ;
	font-weight: normal;

}

.contact .row .content .info h3 i{
	padding-right: 1rem;
	color: var(--pink);
}

.footer{
	background: #fff;
}
 
.footer .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap:1.5rem;
}

.footer .box-container .box h3{
	font-size: 2.5rem;
	color: var(--black);
	padding: 1rem 0 ;
}

.footer .box-container .box i{
	color: var(--pink);
}

.footer .box-container .box a{
	display:inline;
	font-size:2.5rem;
	padding:1rem 0 ;
}


.footer .box-container .box p{
	line-height:1.8;
	font-size:1.5rem;
	padding:1rem 0 ;
}



















/* media queries */

@media (max-width: 991px){

	html{
		font-size: 55%;
	}

	.header{
		padding: 2rem;
	}

	section{
	padding: 2rem 9% ;
	}



}


@media (max-width: 768px){

	#menu-btn{
		display: inline-block;
	}

	.header .search-form{
		width:90%;
	}

	.header .navbar{
		position: absolute;
		top: 100%; right:-110%;
		width:30rem ;
		box-shadow: var(--box-shadow);
		border-radius: .5rem;
		background: #fff;
	}

	.header .navbar.active{
		right: 2rem;
		transition: .4s linear;
	}


	.header .navbar a{
		font-size: 2rem;
		margin: 2rem 2.5rem;
		display: block;
	}




}


@media (max-width: 450px){

	html{
		font-size: 50%;
	}
}



